body{margin:0;padding:0;background: #CCC;}


.social_links ul{
	position:absolute;
	top:20%;
	left:25%;
	transform:translate(-50%.-50%);
	margin:0;
	padding:0;
	display:flex;
}
.social_links ul li {
	list-style: outside none none;
	margin: 0px 30px;
}
.social_links ul li a {
	position: relative;
	display: block;
	width: 60px;
	height: 60px;
	text-align: center;
	background: #FFF;
	transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
	transition: .5s;
	box-shadow: -20px 20px 10px rgba(0,0,0,.5);
}
.social_links ul li a:before{
	content: '';
	position: absolute;
	top: 10px;
	left: -20px;
	height: 100%;
	width: 20px;
	background: #F0EBEB ;
	transition: .5s;
	transform: rotate(0deg) skewY(-45deg);
}
.social_links ul li a:after {
	content: '';
	position: absolute;
	bottom: -20px;
	left: -11px;
	height: 20px;
	width: 100%;
	background: #F0EBEB ;
	transition:.5s;
	transform: rotate(0deg) skewX(-45deg);
}
.social_links ul li a:hover {
	transform: perspective(1000px) rotate(-30deg) skew(26deg) translate(10px, -10px);
	box-shadow: -50px 50px 25px rgba(0,0,0,.5);
}
.social_links ul li a .fa {
	font-size: 40px;
	color: #262626;
	line-height: 56px;
	transition: .5s;
}
.social_links ul li:nth-child(1):hover a .fa {
	color:#3b5998;
}
.social_links ul li:nth-child(2):hover a .fa {
	color:#00aced;
}
.social_links ul li:nth-child(3):hover a .fa {
	color:#007bb6;
}
.social_links ul li:nth-child(4):hover a .fa {
	color:#cb2027;
}
.social_links ul li:nth-child(5):hover a .fa {
	color:#bc2a8d;
}
.social_links ul li:nth-child(6):hover a .fa {
	color:#dd4b39;
}
.social_links ul li:nth-child(7):hover a .fa {
	color:#bb0000;
}






